# ---- Ruby / Rails ----
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/db/*.sqlite3
/db/*.sqlite3-journal

# Byebug / pry
/.byebug_history

# SimpleCov / coverage
/coverage
/spec/examples.txt

# Assets & build output
/public/assets
/public/packs
/public/packs-test
/public/vite
/public/build

/app/assets/builds/*
!/app/assets/builds/.keep

# Active Storage
/storage/*
!/storage/.keep

# Credentials
/config/master.key

# Environment files
.env
.env.*
*.env
*.local

# ---- Node / JS ----
/node_modules
/yarn-error.log
npm-debug.log*
pnpm-debug.log*

# ---- System / Editor ----
.DS_Store
Thumbs.db

# VSCode / RubyMine / JetBrains
.vscode
.idea
*.iml

# Vim / Emacs
*~
*.swp
*.swo

/config/credentials/production.key
