services:
  db:
    image: postgres:15
    container_name: student_records_db
    restart: always
    environment:
      POSTGRES_DB: student_records_management_production
      POSTGRES_USER: student
      POSTGRES_PASSWORD: meowmeow
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: student_records_web
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      RAILS_ENV: production
      DB_NAME: student_records_management_production
      DB_USER: student
      DB_PASSWORD: meowmeow
      RAILS_MASTER_KEY: "458d84bfeda19992b01e638802d1fa23"
    ports:
      - "8000:3000"
